<!-- footer -->
<footer class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 small">
			<div class="row">
				<div class="col-xs-12 col-sm-10">
					<a href="{{ site.baseurl }}/privacy/" alt="Privacy Policy">
						Privacy
					</a>
					&nbsp;|&nbsp;
					<a href="{{ site.baseurl }}/terms/" alt="Terms &amp; Conditions">
						Terms
					</a>
					&nbsp;|&nbsp;
					<a href="{{ site.baseurl }}/downloads/" alt="Downloads">
						Downloads
					</a>
 					&nbsp;|&nbsp;Find us on:&nbsp; 
 					<a href="https://www.facebook.com/Pacific-Hardscapes-1768611960048301/" target="_blank">
						<i class="fa fa-facebook-official">
						</i>
						Facebook
					</a>
					<a href="http://www.yelp.com/biz/pacific-hardscapes-san-rafael?search_key=62474" target="_blank">
					&nbsp;
						<i class="fa fa-yelp">
						</i>
						Yelp
					</a>
				</div>
				<div class="col-xs-12 small">
					&copy; 2016 Pacific Hardscapes, Inc. California Contractor's License &#35; {{ site.license }}
				</div>
			</div>
		</div>
	</div>
</footer>