<!-- footer -->
<footer class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 small">
			<div class="row">
				<div class="col-xs-12 col-sm-10">
					<a href="{{ site.baseurl }}/privacy/" alt="Privacy Policy">
						Privacy Policy
					</a>
					&nbsp;|&nbsp;
					<a href="{{ site.baseurl }}/terms/" alt="Terms &amp; Conditions">
						Terms &amp; Conditions
					</a>
					&nbsp;|&nbsp;
					<a href="{{ site.baseurl }}/warranty/" alt="Warranty">
						Warranty
					</a>
					&nbsp;|&nbsp;
					<a href="{{ site.baseurl }}/quality/" alt="Quality">
						Quality Specifications
					</a>			
					&nbsp;|&nbsp;
					<a href="{{ site.baseurl }}/incentives/" alt="Incentives">
						Incentives
					</a>			
					&nbsp;|&nbsp;
					<a href="{{ site.baseurl }}/downloads/" alt="Downloads">
						Downloads
					</a>			
				</div>
				<div class="col-xs-12 col-sm-2 text-right">
					<a href="http://www.facebook.com/" target="_blank">
						<i class="fa fa-facebook-official">
						</i>
					</a>&nbsp;
					<a href="http://www.pinterest.com/" target="_blank">
						<i class="fa fa-pinterest">
						</i>
					</a>&nbsp;
					<a href="http://www.yelp.com/san-rafael-ca-us" target="_blank">
						<i class="fa fa-yelp">
						</i>
					</a>
				</div>
				<div class="col-xs-12 small">
					&copy; 2016 Pacific Pavers &amp; Stone, Inc.&nbsp;
				</div>
			</div>
		</div>
	</div>
</footer>