		<!-- Logos -->
			<div class="col-xs-10 col-xs-offset-1 manufacturers">
				<div class="row">
					<div class="col-xs-3">
						<div class="panel">
							<img src="/images/belgard-logo.png" alt="Belgard Logo">
						</div>
					</div>
					<div class="col-xs-3">
						<div class="panel">
							<img src="/images/basalite-logo.png" alt="Basalite Logo">
						</div>
					</div>
					<div class="col-xs-3">
						<div class="panel">
							<img src="/images/calstone-logo.png" alt="Calstone Logo">
						</div>
					</div>
					<div class="col-xs-3">
						<div class="panel">
							<img src="/images/mcnear-logo.png" alt="McNear Logo">
						</div>
					</div>
				</div>
			</div>
