---
layout: default
---
  <article class="container blog" id="{{ page.title }}">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      	<h2>
      		{{ page.title }}
      	</h2>
      <p class="author">
        <span class="glyphicon glyphicon-book">
        </span> Written by {{ page.author }}, Posted on {{ page.date | date: '%B %d, %Y' }}
      </p>
      	<div class="addthis_toolbox addthis_default_style addthis_16x16_style addthis-padding" addthis:title="{{ page.title }}">
      		<a class="addthis_button_facebook">
      		</a>
      		<a class="addthis_button_twitter">
      		</a>
      		<a class="addthis_button_pinterest_share">
      		</a>
      		<a class="addthis_button_email">
      		</a>
      	</div>
      	{{ content }}
	</article>